{% extends 'base.html.twig' %}

{% block title %}Hello LoginprofilandemployeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<button type="button" class="btn btn-warning float-start">Accueil</button>
<button type="button" class="btn btn-warning float-end">Connexion</button>

<div class="example-wrapper">
    <h1>Login</h1>
</div>



{% endblock %}
